@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
*{
font-family: 'Cairo', sans-serif;
font-weight: bold;
}
body{
    background-image: linear-gradient(to right,#960e01, #611210, #8D0D22);    
}
.img404 { 
    max-width: 100%;
}

.img403 { 
    max-width: 30%;
}
#box-con{
    border: 0px;
    border-radius: 15px 50px 30px;
    background: #ffffff;
    opacity: 1;
    top: 350px;
}
#box-con1{
    border: 0px;
    border-radius: 15px 50px 30px;
    background: #ffffff;
    opacity: 1;
    top: 300px;
}